*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans';
}
.logo__container{
    width: 120px;
    height: 15px;
}
.img{
    width: 100%;
    height: 100%;
}
nav{
    background: blue;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

}

nav ul{
    display: flex;

}
nav ul li{
    margin:50px 5px;
}
nav ul li a{
    font-size: 15px;
    font-weight: 500;
    color: aqua;
    text-transform: uppercase;
}
a:hover{
    color: bisque;
    cursor: pointer;
}
nav .menu__btn i{
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
}
nav ul{
    background-image: url('./bg-pattern-mobile-nav.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
#click{
    display: none;
}
nav .menu__btn i{
    display: block;
}
#click:checked ~ .menu__btn i:before{
content: "\f00d";
}
nav  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    text-align: center;
    display: block;
}
#click:checked ~ ul{
    left: 0;
}

@media (max-width:768px){
  /*  nav{
    }
    .logo__container{
       
    }*/
   
   

}


@media (min-width:992px){
    nav{
        width: 100%;
        height: 55px;
        padding: 0px 200px;
    }
    nav ul{
        background-image: none;
        left: 0;
        top: -30px;
        margin-left: 200px;

    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        font-size: 12px;
        font-weight: 500;
        color: aqua;
        text-transform: uppercase;
    }
   
    
   
    nav .menu__btn i{
        display: none;
    }
    #click{
        display: none;
    }
    
}