*{
    text-decoration: none;
    list-style: none;

}
body{
    font-size: 16px;
}
.logo__container{
    width: 120px;
    height: 15px;
}
.img{
    width: 100%;
    height: 100%;
    margin-top: -10px;
}
nav{
    background: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: sticky;
}

nav ul{
    display: flex;
    background-color:  hsl(256, 26%, 20%);
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    top: 50;
}
nav ul li{
    margin:30px 5px;
}
nav ul li a{
    font-size: 16px;
    font-weight: 500;
    color: hsl(216, 30%, 68%);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
a:hover{
    color: hsl(0, 0%, 98%);
    cursor: pointer;
}
.nav__view__plans__btn{
    border: 1px solid hsl(216, 30%, 68%);
    color: hsl(216, 30%, 68%);
    text-transform: uppercase;
    background-color: hsl(256, 26%, 20%);
    padding: 4px 36px;
    font-size:16px;
    font-weight: 700;
}
.nav__view__plans__btn:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
    cursor: pointer;
}
nav .menu__btn i{
    color: hsl(256, 26%, 20%);
    font-size: 22px;
    cursor: pointer;
    display: block;
}
#click{
    display: none;
}
nav .menu__btn i{
    display: block;
}
#click:checked ~ .menu__btn i:before{
content: "\f00d";
}
nav  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    text-align: center;
    display: block;
}
#click:checked ~ ul{
    left: 0;
}
.hero__container{
   height: 700px;
   background-color: hsl(256, 26%, 20%);
}
.hero__img__container{
   height: 400px;
}
.hero__img{
    width: 100%;
    height: 400px;
}
.hero__description{
    padding: 10px 20px;
}
.mt{
    margin-top: 100px;
}
h1{
    color: white;
    font-family: DM Serif Display;
    font-size: 40px;
}
p{
    color: hsl(0, 0%, 98%);
    font-size: 15px;
}
    .view__btn{
        border: 1px solid hsl(0, 0%, 98%);
        background-color: hsl(256, 26%, 20%) !important;
        color: hsl(0, 0%, 98%) !important;
        margin: 0% 10%;
        padding: 4px 36px;
        font-size: 12px;
        font-weight: bold;
    }
    .view__btn:hover{
        background-color: hsl(0, 0%, 98%) !important;
        color:hsl(256, 26%, 20%) !important;
        cursor: pointer !important;
    }
    .heading{
        font-family: karla;
        color: hsl(256, 26%, 20%);
        font-size: 10vw;
        margin: 50px 0px 80px 0px;
    }
    
    .img__desc{
        font-family:serif;
        color: hsl(270, 9%, 17%);
        font-size: 25px;
    }
    .more__info{
        color: hsl(273, 4%, 51%);
        font-size: 14px;
    }
    .find__out{
        margin: 80px 0px;
        height: 300px;
        background-color: hsl(256, 26%, 20%);
        padding: 40px 60px;
        background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }
    .find__out__desc{
        font-family: karla;
        font-size: 2.3rem;
        line-height: 1;

    }
    .how__we__work__btn{
        border: 1px solid hsl(0, 0%, 98%);
        background-color: hsl(256, 26%, 20%);
        color: hsl(0, 0%, 98%);
        padding: 4px 20px; 
        font-size: 14px;
        width: 80%;
        font-weight: 500;
        margin-top: 15px;
    }
    .how__we__work__btn:hover{
        background-color: hsl(0, 0%, 98%);
        color:hsl(256, 26%, 20%);
    }
    .footer{
        margin-top: 100px;
        background-color: hsl(0, 0%, 98%);
        width: 100%;
        height: 950px;
    }
    .footer__start{
        width: 100%;
        height: 200px;
        background-image: url('./images/bg-pattern-footer-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .footer__logo{
        margin-top: 50px;
    }
    
    .footer__desc__heading{
        color: hsl(273, 4%, 51%);
        font-weight: 500;
        font-size: 12px; 
    }
   
    .info{
        color: hsl(256, 26%, 20%);
        font-size: 10px; 
        font-weight: 500;
    } 

@media(min-width:768px){
    .hero__container{
        height: 400px;
    }
    .right__pattern__container{
        width: 350px;
        height: 200px;
    }
    .right__pattern{
        width: 100%;
        height: 100%;
       /* margin: -20px 0px 0px 50px;*/
        overflow: hidden;
    }
    .left__pattern__container{
        width: 200px;
        height: 200px;
    }
    .left__pattern{
        width: 100%;
        height: 100%;
        margin-top: 250px;

    }
    .hero__description{
        width: 850px;
        background: none;
        padding: 0;
    }
    .horizontal__line{
        color: hsl(0, 0%, 98%);
        margin-top: 50px;
    }
    .hero__img__container{
        width: 800px;
        height: 400px;
    }
    .hero__img{
        width: 100%;
        height: 100%;
        margin: 80px 0px 0px 30px;
    }
    .view__btn{
        margin: 0;
        padding: 4px 36px;
        width: 60%;
        color: hsl(0, 0%, 98%);
        background-color: hsl(256, 26%, 20%);
    }
    .view__btn:hover{
        background-color: hsl(0, 0%, 98%) !important;
        color: hsl(256, 26%, 20%) !important;
        cursor:  pointer !important ;
    }
    .heading
    {
        font-size: 50px;
    }
    p{
        font-size: 12px;
    }
    .img__desc{
        font-size: 15px;
    }
    .more__info{
        font-size: 10px;
    }
    .find__out{
        height: 200px;
        width: 80%;
        padding: 40px 10px;
       
    }
    .find__out__desc{
        font-size: 3rem;
        width: 60%;
    }
    .how__we__work__btn{
        width: 150px;
        height: 30px;
        margin-top: 50px;
        background-color: hsl(256, 26%, 20%) !important;
        color: hsl(0, 0%, 98%) !important;
    }
   .how__we__work__btn:hover{
        background-color: hsl(0, 0%, 98%) !important;
        color:hsl(256, 26%, 20%) !important;
        cursor:  pointer !important;
   }
   .footer{
        background-color: hsl(0, 0%, 98%);
        width: 100%;
        height: 350px;
        padding: 10px 150px;
        background-image: url('./images/bg-pattern-footer-mobile.svg');
        background-repeat: no-repeat;
        background-position: top left;
    }
    .footer__start{
        height: 100px;
        background: none;
    }
    .footer__logo{
         margin-top: -10px;
    }
    .footer__desc__heading{
        font-weight: 500;
        font-size: 12px; 
    }
    .info{
        font-size: 10px; 
        font-weight: 400;
    } 
}
@media (min-width:992px)
{
    nav{
        width: 100%;
        height: 55px;
        padding: 0px 80px;
    }
    nav ul{
        left: -0;
        top: -25px;
        margin-left: 250px;
        background:none;
    }
    nav ul li{
        display: inline-block;
        margin: 40px 5px;
    }
    nav ul li a{
        font-size: 12px;
        font-weight: 500;
        color: hsl(273, 4%, 51%);
        text-transform: uppercase;
    }
    nav ul li a:hover{
        color: hsl(270, 9%, 17%);
    }
    .nav__view__plans__btn{
        background-color: white;
        border-color: hsl(273, 4%, 51%);
        color: hsl(273, 4%, 51%);
        font-size: 12px;
    }
    .nav__view__plans__btn:hover{
        background-color: hsl(270, 9%, 17%);
        color:hsl(0, 0%, 98%);
    }

   nav .menu__btn i{
        display: none;
    }
    #click{
        display: none;
    }
    .hero__container{
        height: 400px;
    }
    .hero__description{
        background: none;
    }
    .horizontal__line{
        color: hsl(0, 0%, 98%);
        margin-top: 60px;
    }
    .view__btn{
        width: 40%;
    }
    .hero__img__container{
        width: 600px;
    }
    .hero__img{
        width: 100%;
    }
    .img__desc{
        font-size: 20px;
    }
    .more__info{
        font-size: 13px;
    }
    .find__out{
        padding: 40px 20px;
    }
    .how__we__work__btn{
        padding: 2px 8px;
        width: 200px;
        height: 30px;
    }
   .how__we__work__btn:hover{
        background-color: white;
        color:hsl(256, 26%, 20%);
   }
}


@media  (min-width:1200px){
    nav{
        padding: 0px 150px;
    }
    nav ul{
        top: -30px;
        margin-left: 300px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .hero__container{
        height: 400px;
    }
    .horizontal__line{
        margin-top: 30px;
    }
    h1{
        font-size: 60px;
    }
    p{
        font-size: 1.2vw;
    }
}
   


